<div class="container">
    <footer >
        <div class="row">  
            <div class="col-sm-2"></div> 
            <div class="col-7 col-sm-5">
                <h5>Site Map</h5>
                <p>Home <br>
                   Prodcuts<br>
                   Conatct As
                </p>
            </div>       
            <div class="col-7 col-sm-5">
                <h5>Address</h5>
                <address>
                  Route Aeroport Km 4<br>
                  3018, Sfax<br>
                  Tel.: +216 22 222 222<br>
                </address>
            </div>
        </div>
</footer>
</div>
